.sign-up {
	display: flex;
	flex-direction: column;
	width: 380px;

	.title {
		margin: 10px 0;
	}

	.error-message {
		color: red;
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		display: block;
		margin-top: 32px;
	}
}
